{%load bootstrap4%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    {%bootstrap_css%}
</head>
<body>
    <table class="table">
        <thead>Mercadinho do Lucas
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Preço</th>
            <th scope="col">Quantidade</th>
          </tr>
        </thead>
        <tbody>
        {% for p in produtos %}
          <tr>
            <th scope="row">1</th>
            <td>{{p.nome}}</td>
            <td>{{p.preco}}</td>
            <td>{{p.qtd}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <input type="submit" name="Novo Produto" class="btn btn-success">
</body>
</html>